body {
    background-color: rgba(0, 115, 255, 0.771);
    max-width: 1024px;
}

.night-mode {
    background-color: black;
}

.home-page {
    display: flex;
    margin: auto;
    max-width: 100%;
}

.heading-container {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.sign_up_and_log_in_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.sign_up {
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.login {
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.about_us_container {
    width: 300px;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-left: 5px;
}

.about_us {
    overflow-wrap: break-word;
    font-size: 20px;
    margin-left: 5px;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

button:hover {
    transform: scale(1.2);
} 

button {
    transition: 50ms;
}

a:hover {
    transform: scale(1.1);
}

.all-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

.post-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: inherit;
}

.post-heading img {
    width: 5em;
    height: 5em;
    border: 1px solid grey;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

h3 {
    margin-right: 1em;
    overflow-wrap: break-word;
}

.post-item {
    background: white;
    width: inherit;
    margin: 0px 20px 25px 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top: solid 1px grey;
}

#home-page-post {
    margin: 15px;
    overflow-wrap: break-word;
}

#home-page-feeling {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.side-user-bar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
    height: 30%;
    padding: 20px;
    border-radius: 10%;
    position: fixed;
}

.add-a-new-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-a-new-post {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#like_button {
    margin: auto;
}

.time-and-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5em;
}

ul {
    list-style-type: none;
}

.resources-side-bar {
    height: 20em;
    background-color: white;
    position: fixed;
    right: 0;
    margin: 0.5em;
}

/* css for user_page.erb */

.user-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.personal-posts {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.edit-and-delete-container {
    display: flex;
    justify-content: space-between;
}

.user-post-item {
    background: white;
    width: 400px;
    margin: 0px 20px 25px 20px;
    border-radius: 10px;
    padding: 20px;
}

.side-user-page-bar {
    background-color: white;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 10%;
    gap: 30px;
    border-radius: 10%;
    padding: 10px;
}

.blueLikeButton {
    color: blue;
}

.user-heading img {
    width: 5em;
    height: 5em;
    border: 1px solid grey;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

/* styling other_user_page.erb */

.other_user_page_heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.other_user_page_heading img {
    width: 180px;
    height: 180px;
    border: 3px solid #ddd;
    border-radius: 50%;
}

.other-user-posts {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: auto;
}
