<h1>Create a new post</h1>
<form action="/social" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Image URL:</label>
    <input type="text" name="image_url">

    <label for="">POST:</label>
    <input type="text" name="post">

    <button>Create post</button>

</form>