<header>
        <h1>Create a new post</h1>
</header>

<section class="add-a-new-post-page">
    <form action="/social" method="POST">
        <label for="">Post:</label>
        <input type="text" name="post" class="create-a-new-post">

        <label for="">Feeling:</label>
        <input type="text" name="feeling" class="create-a-new-post">

        <label for="">Time and Date:</label>
        <input type="text" name="time_and_date" value="<%= @time_and_date %>" class="create-a-new-post">

        <button class = "new_post_button">Git commit -m</button>
    </form>

    <p><%= @date_and_time %></p>
</section>