<h1 class="log-in-page">Log In</h1>

<ul>
    <form action="/sessions" method="POST">
        <li><label for="">Email:</label>
        <input type="text" name='email'></li>

        <li><label for="">Password</label>
        <input type="password" name='password'></li>

        <li><button>log in</button></li>
    </form>
</ul>