

<section class="email-already-exists-container">
    <h1>That username or email already exists. Your password could be wrong as well</h1>
    <p>Hey! I'm only 7 weeks into coding. Do you see how I haven't even put that much css on this page?
    You did something that I'm not smart enough to code around so please just try to sign up with a username or email address that already hasn't been used or log in properly and not cause problems. If you already have an account, please put your password in correctly.</p>
    <a href="/user/sign_up" class="email-already-exists">Sign up</a>
    <a href="/login" class="email-already-exists">login</a>
</section>