<h1>That username or email already exists</h1>

<p>Hey! I told you I'm only 7 weeks into coding. Do you see how I haven't even put css on this page?
You did something that I'm not smart enough to code so please just try to sign up with a username or email address that already hasn't been used or log in properly and not cause problems.</p>

<a href="/user/sign_up" class="email-already-exists">Sign up</a>
<a href="/login" class="email-already-exists">login</a>