<h1>Sign up</h1>

<section class="sign-up-section">
    <ul>
        <li><form action="/create_user" method="POST">  
        <label for="">Username:</label>
        <input type="text" name="name">

        <li><label for="">Email:</label>
        <input type="text" name="email">

        <li><label for="">Selfie:</label>
        <input type="text" name="image_url"></li>

        <li><label for="">Bootcamp:</label>
        <input type="text" name="bootcamp"></li>

        <li><label for="">Password:</label>
        <input type="password" name="password"></li>
        </ul>

        <button>Sign up</button>
    </section>
</form>