
<%# <% while counter < 1 %>
<%# <% other_user_information.each do |info|%> %>
<%# <h2><%= info['name'] %></h2> %>
<%# <% counter += 1 %> %>
<%# <% end %> %>
<%# <% end %> %> %>

<% social_posts.each do |posts| %>
    <article class="post-item">

        <p><%= posts['post'] %></p>
        <p>Feeling: <%= posts['feeling'] %></p>

    </article>

<% end %>





